@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html {
  /*  background-image: url('./images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;*/
  background-color: #292d3e;
  color: #d0d0d0;
}

header {
  font-family: 'Roboto', sans-serif;
}
header > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 60px;
}
header > p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
header > h1 {
  font-weight: 100;
  font-size: 6em;
  font-family: 'Monoton', 'Roboto', sans-serif;
  margin-bottom: 0px;
  margin-top: 20px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #434758;
}
form > label {
  text-align: center;
  background-color: #292d3e;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
section {
  width: 100%;
}
div {
  width: 100%;
  overflow-x: hidden;
}
#toValidate {
  height: 500px;
  width: 100%;
  resize: vertical;
  background-color: #434758;
  color: #d0d0d0;
}
#formSubmit {
  font-size: 1em;
  background-color: #ffcb6b;
}
#corrections > h2 {
  margin-top: 40px;
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.error > ul,
.errors > ul {
  font-family: 'Roboto', sans-serif;
  border: 2px solid black;
  list-style: none;
  background-color: #434758;
  padding: 10px;
}
.red {
  background-color: #9c2828;
}
.purple {
  background-color: #a3249b;
}
.blue {
  background-color: #2463a3;
}
.green {
  background-color: #24602b;
}
@media only screen and (min-width: 1000px) {
  main {
    margin: 20px;
  }
  form {
    min-width: 45vw;
    height: 500px;
  }
  #container {
    display: flex;
  }
  #corrections {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 500px;
    width: 45vw;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
.hidden {
  display: none !important;
}
